<div class="container">
	<input #searchBox class="form-control" type="text" placeholder="Search user by name..." [(ngModel)]='inputText' (keyup)="findUserByName(searchBox.value)"/>
	<table class="col-xs-12 table table-condensed">
        <thead>
            <tr>
                <th>User Id</th>
                <th>User Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="user">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
            </tr>
        </tbody>
    </table>
</div>