<div class="container">
    <input #searchBox class="form-control" type="text" placeholder="Search user by name..." [(ngModel)]='inputText'
           (keyup)="findUserByName(searchBox.value)"/>
    <table class="col-xs-12 table table-condensed">
        <thead>
        <tr>
            <th>User name</th>
            <th>User roles</th>
            <th>Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="user">
            <td>{{user.name}}</td>
            <td>
                <li *ngFor="let authority of user.authorities">{{authority.name}}</li>
            </td>
            <td><button class="btn btn-default" [routerLink]="['/admin/users/edit', user.id]">Edit</button></td>
        </tr>
        </tbody>
    </table>
</div>